{% extends 'UserBundle:Base:homepage.html.twig' %}

{% block container %}
<section>
    <article>
        <div class="blockArticle">
            <img src="{{ asset('assets/img/img-first-article.jpg') }}">
            <h1 class="titleSearch">Recherche</h1>
        </div>
    </article>
    <article>
        <form>
            <div id="chevronMenu">
                <ul>
                    <li>
                        <div class="choice">Choisir une marque</div><i class="fa fa-chevron-up" aria-hidden="true"></i>
                        <div class="blockSearch glassBrand">
                            <select id="brandGlass"><label for="brandGlass"></label>
                                <option value="">Baïa</option>
                                <option value="">Citizen</option>
                                <option value="">Emporio Armani</option>
                                <option value="">ePROTECT</option>
                                <option value="">Eva Sweet</option>
                                <option value="">Givenchy</option>
                                <option value="">Guess</option>
                                <option value="">H/design</option>
                                <option value="">Ines de la Fressange</option>
                                <option value="">K66</option>
                                <option value="">KiSS</option>
                                <option value="">Mademoiselle lunettes</option>
                                <option value="">Mikli par Mikli</option>
                                <option value="">Modo</option>
                                <option value="">Paul William</option>
                                <option value="">Pepe Jeans</option>
                                <option value="">Police</option>
                                <option value="">Polo Ralph Lauren</option>
                                <option value="">Ralph Lauren</option>
                                <option value="">Ray-Ban</option>
                                <option value="">You K</option>
                                <option value="">Zadig & Voltaire</option>
                                <option value="">Alternances</option>
                            </select>
                        </div></li>
                    <li>
                        <div class="choice">Choisir une correction</div><i class="fa fa-chevron-up" aria-hidden="true"></i>
                        <div class="blockSearch glassCorrection">
                            <span class="eyeLeft">Oeil gauche</span>
                            <input type="number" id="eyeLeft" value="0.00"><label for="eyeLeft"></label>
                            <span class="eyeRight">Oeil droit</span>
                            <input type="number" id="eyeRight" value="0.00"><label for="eyeRight"></label>
                        </div>
                    </li>
                    <li>
                        <div class="choice">Choisir un type</div><i class="fa fa-chevron-up" aria-hidden="true"></i>
                        <div class="blockSearch glassType">
                            <div class="blockOptical">OPTIQUE</div>
                            <div class="blockSun">SOLAIRE</div>
                            <div class="blockOpticalSun">OPTIQUE SOLAIRE</div>
                            <div class="blockFantasy">FANTAISIE</div>
                        </div>
                    </li>
                    <li>
                        <div class="choice">Choisir une forme</div><i class="fa fa-chevron-up" aria-hidden="true"></i>
                        <div class="blockSearch glassForm">
                            <div><img src="#">Rondes</div>
                            <div><img src="#">Ovales</div>
                            <div><img src="#">Carrées</div>
                            <div><img src="#">Rectangulaire</div>
                            <div><img src="#">Pilotes</div>
                            <div><img src="#">Clubmaster</div>
                            <div><img src="#">Wayfarer</div>
                            <div><img src="#">Papillons</div>
                        </div>
                    </li>
                    <li>
                        <div class="choice">Choisir une taille</div><i class="fa fa-chevron-up" aria-hidden="true"></i>
                        <div class="blockSearch glassSize">
                            <span>Entrée votre taille</span>
                            <input type="number" value="Aucune" id="armSize"><label for="armSize"></label>
                        </div>
                    </li>
                </ul>
            </div>
            <input type="submit" class="submitSearch" value="RECHERCHE">
        </form>
    </article>
</section>
{% endblock %}