{% include 'UserBundle:Base:head.html.twig' %}
<html>
<body>
<main role="main" class="container noPadding">
{% include 'UserBundle:Base:header.html.twig' %}

    {% block container %}

    {% endblock %}
</main>
{% include 'UserBundle:Base:footer.html.twig' %}
</body>
</html>