/*---FONT---*/
@font-face {
  font-family: MontserratRegular;
  src: url(../font/Montserrat-Regular.otf); }
@font-face {
  font-family: MontserratLight;
  src: url(../font/Montserrat-Light.otf); }
@font-face {
  font-family: MontserratUltraLight;
  src: url(../font/Montserrat-UltraLight.otf); }
@font-face {
  font-family: MontserratHairline;
  src: url(../font/Montserrat-Hairline.otf); }
/*---HEADER---*/
.menu {
  height: 90px;
  line-height: 90px; }

.blockLogo {
  width: 25%;
  display: inline-block;
  margin-left: 38%; }

.blockMarket {
  width: 10%;
  display: inline-block;
  margin-left: 18%; }

.sidebarImg {
  width: 8%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 20%; }

.textMenu {
  margin-left: 13%;
  font-size: 0.8rem; }

/*---MENU HAMBURGER---*/
#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 17% 0 5% 10%;
  position: absolute;
  top: 0;
  right: -60px; }

#sidebar-btn span {
  height: 3px;
  background: #27cf9f;
  margin-bottom: 20%;
  display: block; }

#sidebar {
  background: #fff;
  width: 160px;
  height: 100%;
  display: block;
  position: absolute;
  left: -160px;
  top: 0;
  transition: left 0.3s linear;
  font-family: MontserratRegular; }

#sidebar.visible {
  left: 0;
  transition: left 0.3s linear;
  z-index: 2; }

/*---MAIN---*/
.container {
  position: relative;
  background-color: #f5f5f5; }

/*---FIRST SECTION---*/
.first {
  display: inline-block; }

.blockArticle {
  position: relative; }

.title {
  position: absolute;
  margin-top: 5%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  font-family: MontserratRegular;
  font-size: 1.6rem;
  color: #fff; }

.text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 235px;
  transform: translate(-50%, 60%);
  font-family: MontserratUltraLight;
  font-size: 1rem;
  color: #fff;
  text-align: center; }

.secondText {
  font-family: MontserratHairline;
  text-align: center;
  font-size: 0.9rem;
  margin: 5%; }

/*---SECOND SECTION---*/
.titleSelect {
  font-family: MontserratRegular;
  font-size: 1.1rem;
  color: #5b5b5b;
  margin: 5% 0;
  display: inline-block; }

.titleLineLeft {
  width: 20%;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 4%;
  margin-right: 5%; }

.titleLineRight {
  width: 20%;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 5%; }

.select {
  display: inline-block;
  width: 44%;
  margin-left: 4%;
  background-color: #fff;
  text-align: center; }

.selectImg {
  display: inline-block;
  width: 80%; }

.selectBrand {
  display: block;
  font-family: MontserratLight;
  font-size: 0.9rem;
  color: #5d5d5d;
  margin-bottom: 5%; }

.lineSection {
  margin-bottom: 5%;
  color: #e7e7e7;
  margin-left: 13%;
  width: 73%; }

.selectPrice {
  display: block;
  color: #5b5b5b;
  font-family: MontserratRegular;
  margin-bottom: 5%; }

/*---THIRD SECTION---*/
/*---FOR SECTION---*/
.second {
  display: inline-block; }

.imgGlass {
  display: inline-block;
  width: 49%;
  position: relative; }

.textGlass {
  display: table-cell;
  position: absolute;
  z-index: 1;
  top: 41%;
  left: 27%;
  font-size: 1rem;
  font-family: MontserratRegular;
  color: #fff; }

.sun {
  display: table-cell;
  vertical-align: middle;
  height: 157px; }

/*---FIVE ARTICLE---*/
.third {
  display: inline-block; }

.thirdText {
  font-family: MontserratHairline;
  text-align: center;
  font-size: 0.9rem;
  margin: 5%; }

.imgApp {
  width: 35%;
  margin-left: 10%;
  margin-bottom: 7%;
  display: inline-block; }

/*---FOOTER---*/
.footer {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #27cf9f;
  font-family: MontserratRegular;
  color: #fff; }

.footerTitle {
  font-size: 0.9rem;
  text-align: center;
  margin: 0 5% 5% 5%;
  display: none; }

.lineLeft {
  display: inline-block;
  width: 90%;
  border: 1px solid #fff;
  margin: 0 0 -24% 5%; }

.lineRight {
  display: none;
  width: 90%;
  border: 1px solid #fff;
  float: right;
  margin: -8% 5% 0 0; }

.textLink {
  font-size: 0.6rem;
  /*margin-left: 12%;*/
  margin-bottom: 4%;
  display: none; }

.down {
  display: block;
  margin-bottom: 10px;
  text-align: center; }

.textFollow {
  width: 11%;
  display: none;
  margin-left: 26%;
  margin-bottom: 8%; }

.mention {
  font-size: 0.6rem;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 10%; }

/*---SEARCH PAGE---*/
.fieldBrand {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fiedlLeftCorrection {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fieldRightCorrection {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fieldGlassType {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fieldSex {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fieldColor {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fieldMinPrice {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fieldMaxPrice {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fieldShape {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

/*---LOGIN---*/
.titleLogin {
  font-family: MontserratRegular;
  color: #757272;
  margin: 40px 0px 40px 95px;
  font-size: 1.3rem; }

.fieldEmail {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 20px 65px; }

.fieldPassword {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin: 20px 20px 10px 65px; }

.blockBox {
  display: block;
  font-family: MontserratHairline;
  color: #d0d0d0;
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 0.7rem; }

.lostPassword {
  font-family: MontserratHairline;
  display: inline-block;
  color: #d0d0d0;
  font-size: 0.8rem;
  margin-left: 80px; }

.fieldSubmit {
  border: none;
  background-color: #06c790;
  color: #fff;
  font-family: MontserratRegular;
  padding: 10px 50px 10px 50px;
  margin: 40px 5px 60px 65px; }

/*---PROFILE---*/
.picProfil {
  height: 80px;
  width: 80px;
  border: 1px solid transparent;
  border-radius: 50px;
  margin-left: 36%;
  margin-bottom: 10%; }

.userInfos {
  font-family: MontserratHairline;
  text-align: left;
  margin-left: 30%;
  margin-bottom: 4%; }

.textProfile {
  font-size: 0.8rem; }

.linkEditProfile {
  background-color: #06c790;
  width: 49%;
  font-family: MontserratRegular;
  color: #fff;
  padding: 3% 10% 3% 10%;
  margin-left: 15%;
  margin-bottom: 10%; }

.titleSell {
  text-align: center;
  font-family: MontserratRegular;
  margin-top: 5%;
  color: #06c790;
  margin-bottom: 5%; }

.titleArticle {
  text-align: center;
  font-family: MontserratRegular;
  margin-top: 5%;
  color: #06c790;
  margin-bottom: 5%;
  border-bottom: 1px solid #efefef;
  padding-bottom: 5%; }

.sellUser {
  width: 95%;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-left: 2%;
  padding-bottom: 5%;
  margin-bottom: 5%; }

.sellBlock {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 100%;
  height: 100px; }

.picSell {
  width: 30%;
  height: 100px;
  display: inline-block;
  border-right: 1px solid #ededed;
  line-height: 127px;
  padding: 0 1%; }

.blockInceptions {
  display: inline-block;
  width: 40%;
  margin-left: 15%; }

.sellBrand {
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b;
  display: inline-block;
  margin-bottom: 10%; }

.viewSell {
  display: inline-block;
  width: 20%;
  font-family: MontserratRegular;
  padding: 5% 25% 5% 25%;
  color: #06c790;
  border: 1px solid #acecda;
  font-size: 0.8rem;
  margin-left: 7%; }

.lastArticle {
  width: 95%;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-left: 2%;
  padding-bottom: 5%;
  margin-bottom: 10%; }

.lastPic {
  display: inline-block;
  height: 112px;
  width: 30%;
  border: 1px solid #ededed;
  line-height: 136px;
  margin-left: 10%;
  margin-bottom: 15%;
  padding: 0 2%; }

/*---EDIT PROFILE---*/
.fieldUsername {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #5b5b5b;
  margin-left: 14%; }

.fieldLastname {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #5b5b5b;
  margin-left: 15%; }

.fieldFirstname {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #5b5b5b;
  margin-left: 14%; }

.fieldEditEmail {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #5b5b5b;
  margin-left: 23%; }

.fieldPasswordFirst {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #5b5b5b;
  margin-left: 15%; }

.fieldPasswordSecond {
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratHairline;
  color: #5b5b5b; }

.required {
  font-family: MontserratRegular;
  font-size: 0.8rem;
  display: inline-block;
  color: #5b5b5b;
  margin-right: 5%;
  margin-bottom: 10%;
  margin-left: 5%; }

.editSubmit {
  margin: 10% 10% 10% 26%;
  width: 50%;
  padding: 6% 1% 6% 1%;
  border: none;
  background-color: #06c790;
  color: #fff;
  font-family: MontserratRegular; }

.submitFileImage {
  margin: 0 10% 10% 0;
  border: none;
  color: #5b5b5b;
  font-family: MontserratRegular; }

.submitRegister {
  margin: 10% 10% 10% 26%;
  width: 50%;
  padding: 6% 1% 6% 1%;
  border: none;
  background-color: #06c790;
  color: #fff;
  font-family: MontserratRegular; }

@media (min-width: 641px) {
  /*---HEADER---*/
  .blockLogo {
    margin-left: 36%;
    margin-top: 1%; }

  .blockMarket {
    margin-left: 20%; }

  /*---MENU HAMBURGER---*/
  #sidebar {
    width: 220px; }

  #sidebar-btn {
    width: 20%;
    margin: 15% 0 5% 90%; }

  .textMenu {
    font-size: 1.2rem; }

  /*---FIRST SECTION---*/
  .title {
    font-size: 2.6rem; }

  .text {
    font-size: 1.6rem;
    width: 100%; }

  /*---SECOND SECTION---*/
  .titleSelect {
    font-size: 1.6rem; }

  .titleLineLeft {
    margin-bottom: 1%;
    margin-left: 10%; }

  .selectBrand {
    font-size: 1.2rem; }

  .selectPrice {
    font-size: 1.2rem; }

  /*---THIRD SECTION---*/
  /*---FOR SECTION---*/
  .secondText {
    font-size: 1.2rem; }

  .thirdText {
    font-size: 1.2rem;
    margin: 5% 5% 10% 25%; }

  .imgApp {
    width: 31%;
    margin-left: 18%;
    margin-bottom: 10%; }

  .textGlass {
    left: 33%;
    font-size: 1.5rem; }

  /*---FIVE SECTION---*/
  /*---FOOTER---*/
  .lineLeft {
    margin: 0 0 -21% 5%; }

  .mention {
    font-size: 0.8rem; }

  .textLink {
    font-size: 1rem; } }
@media (min-width: 1045px) {
  /*---HEADER---*/
  .menu {
    position: absolute;
    width: 100%;
    z-index: 1; }

  /*---MENU HAMBURGER---*/
  #sidebar {
    position: inherit;
    display: inline-block; }

  .main-menu {
    display: inline-block; }

  /*---FIRST SECTION---*/
  /*---SECOND SECTION---*/
  /*---THIRD SECTION---*/
  /*---FOR SECTION---*/
  /*---FIVE SECTION---*/
  /*---FOOTER---*/ }

/*# sourceMappingURL=style.css.map */
