/*---FONT---*/
@font-face {
  font-family: MontserratRegular;
  src: url(../font/Montserrat-Regular.otf);
}

@font-face {
  font-family: MontserratLight;
  src: url(../font/Montserrat-Light.otf);
}

@font-face {
  font-family: MontserratUltraLight;
  src: url(../font/Montserrat-UltraLight.otf);
}

@font-face {
  font-family: MontserratHairline;
  src: url(../font/Montserrat-Hairline.otf);
}

/*---HEADER---*/


.desktopMenu{
  display: none;
}

.blockLogo{
  width: 25%;
  display: inline-block;
  margin-left: 38%;
}

.blockMarket{
  width: 10%;
  display: inline-block;
  margin-left: 18%;
}

.sidebarImg{
  width: 8%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 20%;
}

.textMenu{
  margin-left: 13%;
  font-size: 0.8rem;
}

/*---MENU HAMBURGER---*/

#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 8% 0 0 0;
  position: absolute;
  top: 0;
  right: -90px;
}

#sidebar-btn span {
  height: 3px;
  background: #27cf9f;
  margin-bottom: 20%;
  display: block;
}

#sidebar {
  background: #fff;
  width: 160px;
  height: 100%;
  display: block;
  position: absolute;
  left: -230px;
  top: 0;
  transition: left 0.3s linear;
  font-family: MontserratRegular;
}

#sidebar.visible{
  left: 0;
  transition: left 0.3s linear;
  z-index: 2;
}

/*---MAIN---*/

.container{
  position: relative;
  background-color: #f5f5f5;
  height: 100%;
}

/*---FIRST SECTION---*/
.first{
  display: inline-block;
}

.blockArticle{
  position: relative;
}

.title{
  position: absolute;
  margin-top: 5%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  font-family: MontserratRegular;
  font-size: 1.6rem;
  color: #fff;
}

.desktopImg{
  display: none;
}

.text{
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 235px;
  transform: translate(-50%, 60%);
  font-family: MontserratUltraLight;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.secondText{
  font-family: MontserratHairline;
  text-align: center;
  font-size: 0.9rem;
  margin: 5%;
  padding-top: 5%;
}

/*---SECOND SECTION---*/

.titleSelect{
  font-family: MontserratRegular;
  font-size: 1.1rem;
  color: #5b5b5b;
  margin: 5% 0;
  display: inline-block;
}

.titleLineLeft{
  width: 20%;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 4%;
  margin-right: 5%;
}

.titleLineRight{
  width: 20%;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 5%;
}

.select{
  display: inline-block;
  width: 44%;
  margin-left: 4%;
  background-color: #fff;
  text-align: center;
}

.selectImg{
  display: inline-block;
  width: 80%;
}

.selectBrand{
  display: block;
  font-family: MontserratLight;
  font-size: 0.9rem;
  color: #5d5d5d;
  margin-bottom: 5%;
}

.lineSection{
  margin-bottom: 5%;
  color: #e7e7e7;
  margin-left: 13%;
  width: 73%;
}

.selectPrice{
  display: block;
  color: #5b5b5b;
  font-family: MontserratRegular;
  margin-bottom: 5%;
}



/*---THIRD SECTION---*/

/*---FOR SECTION---*/

.sectionGlass{
  background-color: #fff;
}

.imgGlass{
  display: inline-block;
  width: 49%;
  position: relative;
}

.textGlass{
  display: table-cell;
  position: absolute;
  z-index: 1;
  top: 41%;
  left: 27%;
  font-size: 1rem;
  font-family: MontserratRegular;
  color: #fff;
}

.sun{
  display: table-cell;
  vertical-align: middle;
}

/*---FIVE ARTICLE---*/

.sectionApp{
  background-color: #fff;
  padding-top: 1%;
}

.thirdText{
  font-family: MontserratHairline;
  text-align: center;
  font-size: 0.9rem;
  margin: 5%;
}

.imgApp{
  width: 35%;
  margin-left: 10%;
  margin-bottom: 7%;
  display: inline-block;
}

/*---FOOTER---*/

.footer{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #27cf9f;
  font-family: MontserratRegular;
  color : #fff;
}

.footerTitle{
  font-size: 0.9rem;
  text-align: center;
  margin: 0 5%;
  display: none;
}

.lineLeft{
  display: none;
  width: 90%;
  border: 1px solid #fff;
}

.lineRight{
  display: none;
  width: 90%;
  border: 1px solid #fff;
  float: right;
}

.textLink{
  font-size: 0.6rem;
  margin-bottom: 4%;
  display: none;
}

.down{
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.textFollow{
  width: 11%;
  display: none;
  margin-left: 26%;
  margin-bottom: 8%;
}

.mention{
  font-size: 0.6rem;
  text-align: center;
  margin-top: 2%;
}

.lineFooter{
  border: 1px solid #fff;
  width: 100%;
}

.footerLogo{
  display: none;
}

.imgAppFooter{
  display: none;
}
/*---SEARCH PAGE---*/

.sectionResult{
  width: 310px;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 0 auto;
  margin-top: 50px;
}

.sectionSearch {
  width: 310px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #efefef;
}

.blockSearchArticle{
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.textSearch {
  font-family: MontserratRegular;
  display: inline-block;
  font-size: 0.8rem;
  color: #5b5b5b;
}

.fieldBrand {
  border: 1px solid #d0d0d0;
  padding: 5px;
  float: right;
  width: 59%;
  font-family: MontserratLight;
  color: #5b5b5b;
  text-align: center;
}

.fiedlLeftCorrection {
  border: 1px solid #d0d0d0;
  padding: 5px;
  width: 55%;
  font-family: MontserratLight;
  color: #5b5b5b;
  text-align: center;
  float: right;
}

.fieldRightCorrection {
  border: 1px solid #d0d0d0;
  padding: 5px;
  float: right;
  font-family: MontserratLight;
  color: #5b5b5b;
  text-align: center;
}

.fieldGlassType {
  border: 1px solid #d0d0d0;
  padding: 5px;
  float: right;
  font-family: MontserratLight;
  color: #5b5b5b;
  width: 59%;
}

.fieldSex {
  border: 1px solid #d0d0d0;
  padding: 5px;
  float: right;
  width: 59%;
  font-family: MontserratLight;
  color: #5b5b5b;
  text-align: center;
}

.fieldColor {
  border: 1px solid #d0d0d0;
  padding: 5px;
  font-family: MontserratLight;
  color: #5b5b5b;
  float: right;
  width: 59%;
  text-align: center;
}

.fieldMinPrice {
  border: 1px solid #d0d0d0;
  padding: 5px;
  float: right;
  font-family: MontserratLight;
  color: #5b5b5b;
  text-align: center;
}

.fieldMaxPrice {
  border: 1px solid #d0d0d0;
  padding: 5px;
  float: right;
  font-family: MontserratLight;
  color: #5b5b5b;
  text-align: center;
}

.fieldShape {
  border: 1px solid #d0d0d0;
  padding: 5px;
  float: right;
  font-family: MontserratLight;
  color: #5b5b5b;
  text-align: center;
  width: 59%;
}

#search_search {
  border: none;
  background-color: #06c790;
  color: #fff;
  font-family: MontserratRegular;
  padding: 10px 50px 10px 50px;
  margin: 10px 0 40px 80px;
}

.titleResult{
  font-family: MontserratRegular;
  font-size: 1.1rem;
  color: #5b5b5b;
  margin: 10% 0;
  display: inline-block;

}

.resultatLineLeft{
  width: 25%;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 9%;
  margin-right: 5%;
}

.resultatLineRight{
  width: 25%;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 5%;
}

.blockBrand{
  font-family: MontserratRegular;
  font-size: 1rem;
  color: #5b5b5b;
  margin-bottom: 5%;
  margin-left: 5%;
}

.blockSex{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.blockShape{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.blockLeftCorrection{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.blockRightCorrection{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.blockPrice{
  font-family: MontserratRegular;
  font-size: 1rem;
  color: #5b5b5b;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.blockViewProduct{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.blockVendor{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.blockLinkArticle{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b;
  margin-bottom: 5%;
  margin-left: 30%;
}

/*---VIEW ARTICLE---*/

.sectionViewArticle{
  width: 310px;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 0 auto;
}

.titleArticleBrand{
  font-family: MontserratRegular;
  font-size: 1.6rem;
  color: #5b5b5b;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}

.articleSex{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articleShape{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articleLeftCorrection{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articleRightCorrection{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articleGlassType{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articleColor{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.titleDimentions{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articleGlassDiameter{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articleGlassBridge{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articleGlassArm{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.articlePrice{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.pic{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
  display: block;
}

.articleImg{
  width: 30%;
  display: inline-block;
  margin-left: 2%;
}

.articleUser{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.basket{
  font-family: MontserratRegular;
  color: #fff;
  background-color: #06c790;
  width: 47%;
  padding: 2% 10% 2% 10%;
  text-align: center;
  margin-left: 17%;
  margin-top: 10%;
  margin-bottom: 10%;
}

/*---SELL---*/

.sellSection{
  width: 310px;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 10% auto;
}

.sell-block{
  margin: 15px 0;
  padding: 0 15px;
}

.textSell{
  font-family: MontserratRegular;
  color: #5b5b5b;
}

.textSellImg{
  font-family: MontserratRegular;
  color: #5b5b5b;
}

.fieldSellBrand{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellSex{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellShape{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellLeftCorrection{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellRightCorrection{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellGlassDiameter{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellGlassBridge{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellGlassArm{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellGlassType{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellColor{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellPrice{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.sellImageFile{
  font-family: MontserratRegular;
  color: #5b5b5b;
  margin-left: 5%;
  margin-bottom: 5%;
}

.sellSubmit{
  border: none;
  background-color: #06c790;
  color: #fff;
  font-family: MontserratRegular;
  padding: 10px 50px 10px 50px;
  margin: 10px 0 35px 75px;
}

/*---LOGIN---*/

.sectionLogin{
  width: 225px;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 0 auto;
  text-align: center;
}

.titleLogin{
  font-family: MontserratRegular;
  color: #757272;
  font-size: 1.3rem;
  margin: 20px 0;
}

.loginEmail{
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratLight;
  color: #5b5b5b;
  text-align: center;
  margin: 20px 0 30px 0;
}

.loginPassword{
  border: 1px solid #d0d0d0;
  padding: 4px 1px 4px 13px;
  font-family: MontserratLight;
  color: #5b5b5b;
  margin-bottom: 20px;
}

.blockBox{
  display: block;
  font-family: MontserratLight;
  color: #5b5b5b;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.lostPassword{
  font-family: MontserratLight;
  display: inline-block;
  color: #5b5b5b;
  font-size: 0.8rem;
}

.loginSubmit{
  border: none;
  background-color: #06c790;
  color: #fff;
  font-family: MontserratRegular;
  padding: 10px 50px 10px 50px;
  margin: 30px 0;
}

/*---PROFILE---*/

.sectionProfile{
  width: 310px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #efefef;
}

.titleUser{
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.rank{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b
}

.picProfil{
  height: 80px;
  width: 80px;
  border: 1px solid transparent;
  border-radius: 50px;
  margin-left: 110px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.userInfos{
  font-family: MontserratHairline;
  text-align: center;
}

.linkEditProfile{
  background-color: #06c790;
  width: 70%;
  font-family: MontserratRegular;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin: 25px 0 25px 50px;
}

.sectionComment{
  width: 310px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-top: 40px;
}

.postTitleComment{
  font-family: MontserratRegular;
  font-size: 1.4rem;
  text-align: center;
  color: #5b5b5b;
  margin: 20px 0
}

.rating{
  font-size: 1.2rem;
  font-family: MontserratRegular;
  color: #5b5b5b;
}

.fieldRating{
  width: 15%;
  margin-left: 57px;
}

.reviews{
  margin-top: 35px;
  font-size: 1.2rem;
  font-family: MontserratRegular;
  color: #5b5b5b;
}

.areaComment{
  margin-left: 50px;
}

#profile_comment_submit{
  background-color: #06c790;
  width: 50%;
  font-family: MontserratRegular;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin: 40px 0 25px 80px;
  border: none;
}

.sectionViewComment{
  width: 310px;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 0 auto;
  margin-top: 30px;
}

.blockComment{
  font-family: MontserratLight;
}

.titleComment{
  font-family: MontserratRegular;
  color: #5b5b5b;
  font-size: 1.4rem;
  text-align: center;
  margin: 25px 0;
}

.titleSell{
  text-align: center;
  font-family: MontserratRegular;
  margin-top: 5%;
  color: #06c790;
  margin-bottom: 5%;
}

.titleArticle{
  text-align: center;
  font-family: MontserratRegular;
  margin-top: 5%;
  color: #06c790;
  margin-bottom: 5%;
  border-bottom: 1px solid #efefef;
  padding-bottom: 5%;
}

.sectionSellUser{
  width: 310px;
  background-color: #fff;
  border: 1px solid #efefef;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

.sellBlock{
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 100%;
  height: 100px;
}

.picSell{
  width: 30%;
  height: 100px;
  display: inline-block;
  border-right: 1px solid #ededed;
  line-height: 127px;
  padding: 0 1%;
}

.blockInceptions{
  display: inline-block;
  width: 40%;
}

.sellBrand{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  color: #5b5b5b;
  display: inline-block;
  margin-bottom: 10%;
}

.viewSell{
  display: inline-block;
  width: 20%;
  font-family: MontserratRegular;
  padding: 5% 25% 5% 25%;
  color: #06c790;
  border: 1px solid #acecda;
  font-size: 0.8rem;
  margin-left: 7%;
  text-align: center;
}

.lastArticle{
  width: 310px;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 0 auto;
  margin-top: 30px;
}

.lastPic{
  display: inline-block;
  height: 112px;
  width: 30%;
  border: 1px solid #ededed;
  line-height: 136px;
  margin-left: 10%;
  margin-bottom: 15%;
  padding: 0 2%;
}


/*---EDIT PROFILE---*/

.sectionEditProfile{
  width: 290px;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 0 auto;
}

.blockEditProfil{
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.editLastname{
  border: 1px solid #d0d0d0;
  padding: 4px 0;
  font-family: MontserratHairline;
  color: #5b5b5b;
  width: 40%;
  float: right;
}

.editFirstname{
  border: 1px solid #d0d0d0;
  padding: 4px 0;
  font-family: MontserratHairline;
  color: #5b5b5b;
  width: 40%;
  float: right;
}

.editEditEmail{
  border: 1px solid #d0d0d0;
  padding: 4px 0;
  font-family: MontserratHairline;
  color: #5b5b5b;
  width: 40%;
  float: right;
}

.editPasswordFirst{
  border: 1px solid #d0d0d0;
  padding: 4px 0;
  font-family: MontserratHairline;
  color: #5b5b5b;
  width: 40%;
  float: right;
}

.editPasswordSecond{
  border: 1px solid #d0d0d0;
  padding: 4px 0;
  font-family: MontserratHairline;
  color: #5b5b5b;
  width: 40%;
  float: right;
}

.textEditProfile{
  font-family: MontserratRegular;
  font-size: 0.8rem;
  display: inline-block;
  color: #5b5b5b;
}

.editSubmit{
  margin: 10px 0 20px 80px;
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #06c790;
  color: #fff;
  font-family: MontserratRegular;
}

.editFileImage{
  border: none;
  color: #5b5b5b;
  font-family: MontserratRegular
}
/*---REGISTER---*/

.sectionRegister{
  width: 240px;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 0 auto;
}

.blockRegister{
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.submitRegister{
  margin: 20px 20px 20px 65px;
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #06c790;
  color: #fff;
  font-family: MontserratRegular;
}

.textRegister{
  font-family: MontserratRegular;
  color: #5b5b5b;
  font-size: 0.8rem;
  display: inline-block;
  margin: 0;
}

.fieldUsername{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.fieldLastname{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.fieldFirstname{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.fieldEmail{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.fieldPasswordFirst{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}

.fieldPasswordSecond{
  font-family: MontserratRegular;
  color: #5b5b5b;
  float: right;
  width: 40%;
}


@media (min-width: 641px){
  /*---HEADER---*/
  .blockLogo{
    margin-left: 36%;
    margin-top: 1%;
  }

  .blockMarket{
    margin-left: 20%;
  }


  /*---MENU HAMBURGER---*/
  #sidebar{
    width: 230px;
    height: 700px;
  }

  #sidebar-btn{
    width: 20%;
    margin: 15% 0 5% 90%;
  }

  .textMenu{
    font-size: 1.2rem;
  }

  /*---FIRST SECTION---*/
  .title{
   font-size: 2.6rem;
  }

  .text{
    font-size: 1.6rem;
    width: 100%;
  }

  /*---SECOND SECTION---*/

  .titleSelect{
    font-size: 1.6rem;
  }

  .titleLineLeft{
    margin-bottom: 1%;
    margin-left: 10%;
  }

  .selectBrand{
    font-size: 1.2rem;
  }

  .selectPrice{
    font-size: 1.2rem;
  }

  /*---THIRD SECTION---*/



  /*---FOR SECTION---*/

  .secondText{
    font-size: 1.2rem;
  }

  .thirdText{
    font-size: 1.2rem;
    margin: 5%;
  }

  .imgApp{
    width: 31%;
    margin-left: 13%;
    margin-bottom: 10%;
  }

  .textGlass{
    left: 33%;
    font-size: 1.5rem;
  }
  /*---FIVE SECTION---*/


  /*---FOOTER---*/

  .lineLeft{
    margin: 0 0 -21% 5%;
  }

  .mention{
    font-size: 0.8rem;
  }
  .textLink{
    font-size: 1rem;
  }

  /*---LOGIN---*/

  .sectionLogin{
    width: 450px;
  }

  .titleLogin{
    font-size: 1.8rem;
    margin: 50px 0;
  }

  .loginEmail{
    font-size: 1.4rem;
    padding: 10px 0 10px 0;
    margin: 40px 0 60px 0;
  }

  .loginPassword{
    width: 60%;
    font-size: 1.4rem;
    padding: 10px 0 10px 0;
    margin-bottom: 40px;
  }

  .blockBox{
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .lostPassword{
    font-size: 1.2rem;
  }

  .loginSubmit{
    width: 50%;
    font-size: 1.2rem;
    margin: 60px;
  }

  /*---REGISTER---*/

  .sectionRegister{
    width: 460px;
  }

  .blockRegister {
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 30px;
  }

  .textRegister{
    font-size: 1.4rem;
  }

  .fieldUsername{
    width: 40%;
    padding: 8px 0;
  }

  .fieldFirstname{
    width: 40%;
    padding: 8px 0;
  }

  .fieldLastname{
    width: 40%;
    padding: 8px 0;
  }

  .fieldEmail{
    width: 40%;
    padding: 8px 0;
  }

  .fieldPasswordFirst{
    width: 40%;
    padding: 8px 0;
  }

  .fieldPasswordSecond{
    width: 40%;
    padding: 8px 0;
  }

  .submitRegister{
    padding: 15px 10px;
    font-size: 1.4rem;
    margin: 50px 0 50px 120px;
  }

  /*---PROFILE---*/

  .sectionProfile {
    width: 500px;
  }

  .rank {
    font-size: 1rem;
  }

  .picProfil{
    width: 90px;
    height: 90px;
    margin-left: 40%;
  }

  .titleUser{
    font-size: 1.8rem;
  }

  .linkEditProfile{
    width: 50%;
    padding: 20px 0;
    margin: 40px 0 40px 130px;
  }

  .postTitleComment {
    font-size: 1.8rem;
    margin: 30px 0;
  }

  .rating {
    font-size: 1.4rem;
    margin-left: 70px;
  }

  .reviews {
    margin-top: 60px;
    margin-left: 70px;
    font-size: 1.4rem;
  }

  #profile_comment_submit {
    font-size: 1.2rem;
    margin: 40px 0 25px 140px;
  }

  .sectionViewComment {
    width: 500px;
  }

  .titleComment {
    font-size: 1.8rem;
    margin: 40px 0;
  }

  .blockComment {
    font-size: 1.2rem;
    margin-left: 60px;
  }

  .sectionComment{
    width: 500px;
  }

  .sectionSellUser {
    width: 500px;
  }

  .titleSell{
    font-size: 1.4rem;
  }

  .sellBlock{
    height: 165px;
  }

  .picSell{
    padding: 0 5px;
    line-height: 234px;
    height: 166px;
  }

  .blockInceptions{
    margin-left: 88px;
  }

  .sellBrand{
    font-size: 1.2rem;
  }

  .viewSell{
    padding: 10px 0;
    font-size: 1rem;
    width: 50%;
  }

  .lastArticle{
    width: 500px;
  }

  .titleArticle{
    font-size: 1.4rem;
  }

  .lastPic{
    height: 203px;
    width: 35%;
    line-height: 270px;
    margin-left: 8%;
  }

  /*---EDIT PROFIL---*/

  .sectionEditProfile{
    width: 520px;
  }

  .blockEditProfil {
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 40px;
  }

  .textEditProfile{
    font-size: 1.4rem;
  }

  .editFileImage{
    font-size: 1rem;
    width: 80%;
  }

  .editLastname{
    width: 45%;
    padding: 10px 0;
    font-size: 1.2rem;
    margin-left: 15%;
  }

  .editFirstname{
    width: 45%;
    padding: 10px 0;
    font-size: 1.2rem;
  }

  .editEditEmail{
    width: 45%;
    padding: 10px 0;
    font-size: 1.2rem;
  }

  .editPasswordFirst{
    width: 45%;
    padding: 10px 0;
    font-size: 1.2rem;
  }

  .editPasswordSecond{
    width: 45%;
    padding: 10px 0;
    font-size: 1.2rem;
  }

  .editSubmit{
    margin: 10px 0 50px 130px;
    padding: 20px 0;
    font-size: 1.2rem;
  }

  /*---SEARCH PAGE---*/

  .sectionSearch{
    width: 500px;
  }

  .blockSearchArticle {
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px 20px;
  }

  .textSearch{
    font-size: 1.4rem;
  }

  .fieldBrand{
    padding: 12px 0;
    width: 50%;
  }

  .fiedlLeftCorrection{
    padding: 12px 0;
    width: 50%;
  }

  .fieldRightCorrection{
    padding: 12px 0;
    width: 50%;
  }

  .fieldGlassType{
    padding: 12px 0;
    width: 50%;
  }

  .fieldSex{
    padding: 12px 0;
    width: 50%;
  }

  .fieldColor{
    padding: 12px 0;
    width: 50%;
  }

  .fieldMinPrice{
    padding: 12px 0;
    width: 50%;
  }

  .fieldMaxPrice{
    padding: 12px 0;
    width: 50%;
  }

  .fieldShape{
    padding: 12px 0;
    width: 50%;
  }

  #search_search {
    border: none;
    background-color: #06c790;
    color: #fff;
    font-family: MontserratRegular;
    padding: 15px 0;
    margin: 30px 0 40px 150px;
    width: 40%;
    font-size: 1.2rem;
  }

  .sectionResult{
    width: 500px;
  }

  .resultatLineLeft{
    width: 30%;
    margin-bottom: 1%;
    margin-left: 7%;
  }

  .titleResult{
    font-size: 1.6rem;
  }

  .resultatLineRight{
    width: 30%;
    margin-bottom: 1%;
  }

  .blockBrand{
    font-size: 1.5rem;
  }

  .blockSex{
    font-size: 1.1rem;
  }

  .blockShape{
    font-size: 1.1rem;
  }

  .blockLeftCorrection{
    font-size: 1.1rem;
  }

  .blockRightCorrection{
    font-size: 1.1rem;
  }

  .blockPrice{
    font-size: 1.3rem;
  }

  .blockViewProduct{
    width: 35%;
    margin-left: 35%;
  }

  .blockVendor{
    font-size: 1rem;
  }

  .blockLinkArticle{
    font-size: 1.3rem;
    margin-left: 35%;
  }

  /*---VIEW ARTICLE---*/

  .sectionViewArticle{
    width: 500px;
  }

  .titleArticleBrand{
    font-size: 2.4rem;
  }

  .articleSex{
    font-size: 1.4rem;
  }

  .articleShape{
    font-size: 1.4rem;
  }

  .articleLeftCorrection{
    font-size: 1.4rem;
  }

  .articleRightCorrection{
    font-size: 1.4rem;
  }

  .articleGlassType{
    font-size: 1.4rem;
  }

  .articleColor{
    font-size: 1.4rem;
  }

  .titleDimentions{
    font-size: 1.4rem;
  }

  .articleGlassDiameter{
    font-size: 1.4rem;
  }

  .articleGlassBridge{
    font-size: 1.4rem;
  }

  .articleGlassArm{
    font-size: 1.4rem;
  }

  .articlePrice{
    font-size: 1.4rem;
  }

  .articleUser{
    font-size: 1.4rem;
  }

  .pic{
    font-size: 1.4rem;
  }

  .basket{
    margin-left: 25%;
    width: 50%;
    padding: 15px 0;
    font-size: 1.4rem;
  }

  /*---SELL---*/

  .sellSection{
    width: 500px;
  }

  .sell-block{
    margin: 30px 0;
    padding: 0 25px;
  }

  .textSell{
    font-size: 1.4rem;
  }

  .textSellImg{
    font-size: 1.2rem;
  }

  .fieldSellBrand{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellSex{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellShape{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellLeftCorrection{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellRightCorrection{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellGlassDiameter{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellGlassBridge{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellGlassArm{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellGlassType{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellColor{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellPrice{
    width: 45%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellImageFile{
    width: 80%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .sellSubmit{
    padding: 20px 0;
    text-align: center;
    margin: 10% 0 10% 30%;
    width: 50%;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px){

  /*---HEADER---*/

  .menu{
    width: 100%;
    background-color: #efefef;
  }

  .desktopMenu li{
    display: inline-block;
  }

  .blockMarket{
    display: none;
  }

  .blockLogo{
    display: none;
  }

  .desktopMenu{
    text-align: center;
    height: 10%;
    width: 100%;
    display: inline-block;
  }

  .linkHomeMenu{
    font-family: MontserratRegular;
    font-size: 1.5rem;
    color: #06c790;
    margin-left: 3%;
    line-height: 105px;
    vertical-align: top;
  }

  .leftLogo{
    margin-right: 8%;
  }

  .rightLogo{
    margin-left: 10%;
  }

  .blockLogoWhite{
    width: 15%;
    display: inline-block;
    margin-top: 1%;
  }

  /*---MENU HAMBURGER---*/
  #sidebar{
    display: none;
  }

  #sidebar.visible{
    display: none;
  }

  /*---FIRST SECTION---*/

  .selectProduct{
    width: 60%;
    background-color: #fff;
    margin-top: 5%;
    margin-left: 22%;
  }

  .newProduct{
    width: 95%;
    background-color: #fff;
    margin-top: 5%;
    margin-left: 2%;
  }

  .desktopImg{
    display: inline-block;
  }

  .mobileImg{
    display: none;
  }

  .title{
    font-size: 4.5rem;
    margin-top: 10%;
  }

  .text{
    font-family: MontserratRegular;
    font-size: 1.6rem;
    bottom: 45%;
  }

  .titleLineLeft{
    margin-bottom: 1%;
    margin-left: 5%;
    width: 20%;
  }

  .titleSelect{
    font-size: 2rem;
    margin: 5% 5%
  }

  .titleLineRight{
    width: 20%;
    margin-bottom: 1%;
    margin-left: 0;
  }

  .select{
    width: 30%;
    margin-left: 13%;
    margin-bottom: 5%;
    border: 1px solid #ededed;
  }

  .selectBrand{
    font-size: 1.8rem;
  }

  .selectPrice{
    font-size: 1.8rem;
  }
  /*---SECOND SECTION---*/

  .newProduct {
    width: 60%;
    background-color: #fff;
    margin-top: 5%;
    margin-left: 22%;
  }

  /*---THIRD SECTION---*/
  .sectionGlass{
    width: 60%;
    margin-left: 22%;
  }

  .secondText{
    font-size: 1.5rem;
  }

  .textGlass{
    left: 10%;
    font-size: 2rem;
  }

  .optical{
    margin-left: 18%;
    margin-right: 5%;
  }

  .sunOpticalGlass{
    margin-left: 18%;
    margin-right: 5%;
  }

  .imgGlass{
    width: 30%;
    margin-bottom: 5%;
  }


  /*---FOR SECTION---*/

  .sectionApp{
    display: none;
  }

  .thirdText{
    display: none;
  }

  .imgApp{
    display: none;
  }
  /*---FIVE SECTION---*/


  /*---FOOTER---*/

  .footer{
    padding: 0;
  }

  .footerTitle{
    display: inline-block;
    font-size: 1.6rem;
    margin: 3% 3% 0 3%;
  }

  .textLink{
    display: inline-block;
    margin: 0 1%;
    font-size: 1rem;
  }

  .textLinkLeft{
    margin-left: 4%;
    margin-top: 5%;
  }

  .lineLeft{
    width: 20%;
    margin-left: 20%;
    margin-bottom: 1%;
    display: inline-block;
  }

  .lineRight{
    display: inline-block;
    width: 20%;
    margin-bottom: 1%;
    float: none;
    margin-right: 8%;
  }

  .imgAppFooter{
    width: 15%;
    margin-right: 1%;
    float: right;
    display: inline-block;
  }

  .footerLogo{
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 2%;
  }

  .lineFooter{
    border: 1px solid;
    display: inline-block;
    width: 100%;
  }

  .mention{
    margin-top: 1%;
    margin-bottom: 0;
    padding-bottom: 1%;
  }

  /*---LOGIN---*/

  .sectionLogin {
    width: 450px;
    margin: 10% auto;
  }

  /*---REGISTER---*/

  .sectionRegister {
    width: 600px;
    margin: 10% auto;
    padding-top: 0;
  }

  .textRegister {
    margin-left: 10%;
  }



  .submitRegister {
    margin: 10% 10% 10% 26%;
  }

  /*---EDIT PROFILE---*/

  .sectionEditProfile {
    width: 600px;
    margin: 10% auto;
  }

  .textEditProfile {
    margin-left: 10%;
  }

  .editFileImage {
    font-size: 1rem;
    width: 38%;
    margin-left: 26%;
  }

  .editSubmit{
    margin: 20px 0 50px 150px;
  }

  /*---PROFILE SHOW---*/

  .sectionProfile {
    width: 650px;
    margin: 10% auto;
    padding-bottom: 0;
  }

  .sectionSellUser {
    width: 50%;
  }

  .lastArticle {
    width: 650px;
    margin-bottom: 5%;
  }

  .sellBrand {
    font-size: 1.5rem;
  }

  .viewSell {
    font-size: 1.2rem;
  }

  .picProfil{
    margin-top: 5%;
    margin-left: 43%;
  }

  .linkEditProfile{
    margin: 40px 0 40px 160px;
  }

  .sectionComment{
    width: 650px;
  }

  .rating {
    font-size: 1.6rem;
    margin-left: 200px;
  }

  .reviews {
    margin-top: 60px;
    margin-left: 160px;
    font-size: 1.6rem;
  }

  #profile_comment_submit {
    font-size: 1.4rem;
    margin: 40px 0 25px 160px;
  }

  .sectionViewComment {
    width: 650px;
  }

  .titleComment {
    font-size: 2.2rem;
    margin: 40px 0;
  }

  .blockComment {
    font-size: 1.6rem;
    margin-left: 60px;
  }

  .sectionSellUser {
    width: 650px;
  }

  /*---SELL---*/

  .sellSection {
    width: 650px;
  }
}

@media (min-width: 1400px) {

  /*---HOMEPAGE---*/

  .linkHomeMenu{
    font-size: 2.5rem;
    margin-left: 3%;
    margin-right: 2%;
    line-height: 167px;
  }

  .title {
    font-size: 6.5rem;
  }

  .text {
    font-size: 2rem;
  }

  .textGlass {
    left: 20%;
  }

  .selectProduct {
    margin: 0 auto;
    margin-top: 10%;
  }

  .secondText {
    font-size: 1.8rem;
  }

  .newProduct {
    margin: 0 auto;
    margin-top: 5%;
  }

  .secondText {
    font-size: 1.8rem;
    margin: 5% 0;
  }

  .sectionGlass {
    margin: 0 auto;
    margin-bottom: 10%;
  }

  .footerTitle {
    font-size: 2rem;
  }

  .lineLeft {
    width: 30%;
    margin-left: 8%;
  }

  .lineRight {
    margin-right: 5%;
    width: 30%;
  }

  .textLink {
    font-size: 1.4rem;
  }

  .mention{
    font-size: 1rem;
  }

  .sectionLogin{
    margin: 0 auto;
  }

  /*---SEARCH---*/
  .blockSearchArticle {
    height: 55px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0 140px;
  }

  .sectionSearch {
    width: 850px;
    margin: 10% auto;
  }

  .textSearch {
    font-size: 2rem;
  }

  .fieldBrand{
    font-size: 1.2rem;
  }

  .fiedlLeftCorrection{
    font-size: 1.2rem;
  }

  .fieldRightCorrection{
    font-size: 1.2rem;
  }

  .fieldGlassType{
    font-size: 1.2rem;
  }

  .fieldSex{
    font-size: 1.2rem;
  }

  .fieldColor{
    font-size: 1.2rem;
  }

  .fieldMinPrice{
    font-size: 1.2rem;
  }

  .fieldMaxPrice{
    font-size: 1.2rem;
  }

  .fieldShape{
    font-size: 1.2rem;
  }

  #search_search{
    margin: 30px 0 40px 280px;
    font-size: 1.6rem;
  }

  /*---RESULT---*/

  .sectionResult{
    width: 850px;
    margin: 10% auto;
  }

  .titleResult {
    font-size: 2.2rem;
  }

  .blockBrand {
    font-size: 2.2rem;
  }

  .blockSex {
    font-size: 1.6rem;
  }

  .blockShape {
    font-size: 1.6rem;
  }

  .blockLeftCorrection {
    font-size: 1.6rem;
  }

  .blockPrice {
    font-size: 1.5rem;
  }

  .blockVendor {
    font-size: 1.2rem;
  }

  .blockLinkArticle {
    font-size: 1.6rem;
    margin-left: 40%;
  }
<<<<<<< HEAD
=======

  /*---VIEW ARTICLE---*/

  .sectionViewArticle {
    width: 850px;
    margin: 10% auto;
  }

  .titleArticleBrand {
    font-size: 3rem;
  }

  .articleSex{
    font-size: 2rem;
  }

  .articleShape{
    font-size: 2rem;
  }

  .articleLeftCorrection{
    font-size: 2rem;
  }

  .articleRightCorrection{
    font-size: 2rem;
  }

  .articleGlassType{
    font-size: 2rem;
  }

  .articleColor{
    font-size: 2rem;
  }

  .titleDimentions{
    font-size: 2rem;
  }

  .articleGlassDiameter{
    font-size: 2rem;
  }

  .articleGlassBridge{
    font-size: 2rem;
  }

  .articleGlassArm{
    font-size: 2rem;
  }

  .articlePrice{
    font-size: 2rem;
  }

  .articleUser{
    font-size: 2rem;
  }

  .pic{
    font-size: 2rem;
  }

  .basket{
    font-size: 2rem;
  }

  /*---REGISTER---*/


  .sectionRegister{
    width: 950px;
    margin: 10% auto;
  }

  .textRegister{
    font-size: 2rem;
  }

  .blockRegister{
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 60px;
}

  .submitRegister{
    font-size: 2rem;
  }

  /*---EDIT PROFIL---*/

  .sectionEditProfile{
    width: 950px;
  }

  .textEditProfile{
    font-size: 2rem;
  }

  .editSubmit {
    margin: 20px 0 50px 250px;
    padding: 20px 0;
    font-size: 2rem;
  }

  /*---PROFIL SHOW---*/

  .picProfil{
    width: 110px;
    height: 110px;
    margin-top: 10%;
  }

  .linkEditProfile {
    margin: 80px 0 80px 235px;
    font-size: 1.5rem;
  }

  .sectionProfile {
    width: 950px;
    margin: 10% auto;
    padding-bottom: 0;
  }

  .titleUser {
    font-size: 2.4rem;
  }

  .rank {
    font-size: 1.3rem;
  }

  .sectionComment {
    width: 950px;
  }

  .postTitleComment {
    font-size: 2.6rem;
    margin: 60px 0;
  }

  .rating {
    font-size: 2rem;
    margin-left: 340px;
  }

  .fieldRating {
    width: 15%;
    margin-left: 57px;
    font-size: 1.4rem;
  }

  .reviews {
    margin-top: 60px;
    margin-left: 310px;
    font-size: 2rem;
  }

  #profile_comment_submit {
    font-size: 2rem;
    margin: 40px 0 25px 240px;
  }

  .sectionViewComment {
    width: 950px;
  }

  .blockComment {
    font-size: 1.8rem;
    margin-left: 60px;
  }

  .sectionSellUser {
    width: 650px;
  }

  .titleSell {
    font-size: 2rem;
  }
  .blockInceptions {
    margin-left: 200px;
  }

  .sectionSellUser {
    width: 950px;
  }

  .sellBrand {
    font-size: 1.8rem;
  }

  .viewSell {
    font-size: 1.6rem;
  }

  .titleArticle {
    font-size: 2rem;
  }

  .lastArticle {
    width: 950px;
    margin-bottom: 5%;
  }

  .sellSection {
    width: 950px;
  }

  .textSell {
    font-size: 2rem;
    margin-left: 15%;
  }

  .textSellImg {
    font-size: 1.6rem;
    margin-left: 10%;
  }
  .sellImageFile {
    width: 57%;
  }
>>>>>>> fd8f55f991c1cbcfd13d258c84cecfbc9d033ce3
}
